html {
  max-height: 100%;
}
body {
  #background-image: url('/icons/Elegant_Background-8.jpg');
  background-image: url('/icons/green_cup.png');
  #font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.screenCenter {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mainTitle{
  text-align: center;
  #font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 60px;
  margin: 15px;
  color: #272727;
}

.loginForm {
  align-items: center;
  display: flex;
  justify-content: center;
}

.fieldLabel {
  font-size: 18px;
  color: #151515;
  font-family: cursive;
}

.validErrors {
  list-style-type: none;
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
}
.loginForm form input[type=text], .loginForm form input[type=password] {
    width: 250px;
      padding: 4px;
      border-radius: 5px;
      border: 1px solid black;
      #font-family: "Comic Sans MS", cursive, sans-serif;
      margin: 5px;
      font-size: 20px;
}
.fullWidth {
    width: 100%;
}
.loginForm form button {
    border-radius: 5px;
    border: 1px solid black;
    #font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    padding: 4px;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

/* unvisited link */
a:link {
    color: #000;
}

/* visited link */
a:visited {
    color: #000;
}

/* mouse over link */
a:hover {
    color: #000;
}

/* selected link */
a:active {
    color: #000;
}

.bgGreen {
    background: #a4cca5;
}

.bgOrange {
    background: #ce9b7d;
}

.bgBlue {
    background: #67a4d0;
}

.bgRed {
    background: rgba(191, 7, 7, 0.51);
}
.greenText {
    #font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    color: green;
}


.sideMenu {
  width: 250px;
    background: #bdbdbd;
    padding: 5px;
    border-radius: 5px;
    top: 10%;
    position: absolute;
    left: 10px;
    height: auto;
    bottom: 10%;
}

.menuLinks {

}
